.a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: c 3s linear infinite;
            animation: c 3s linear infinite;
}
.b{
    -webkit-transform: translate(3px);
            transform: translate(3px);
}